extends ../layout/app

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido
    //pre= JSON.stringify(propiedad, undefined, 2)
    div(class="py-3")
        h1(class="font-extrabold uppercase text-4xl my-10 text-center")=propiedad.titulo
        div()
            a(href="#", class="uppercase text-gray-600 font-bold text-center text-2xl") Categoria:
                span(class="font-normal text-black")= propiedad.categoria.nombre
        div(class="mt-5 md:flex md:gap-4")
            div(class="md:w-2/3 bg-white shadow rounded-md")
                img(class="", src=`/uploads/${propiedad.imagen}`,alt=`imagen de la propiedad ${propiedad.titulo}`)
                div(class="px-4 py-6")
                    p(class="")=propiedad.descripcion
                    h2(class="text-2xl leading-6 font-bold text-gray-900 mt-3 mb-3") Informacion Destacada

                    div(class="grid grid-cols-1 md:grid-cols-2")
                        p(class="text-gray-600 font-bold text-xl mt-3 mb-3") WC's:
                            span(class="font-normal text-black block")=propiedad.wc

                        p(class="text-gray-600 font-bold text-xl mt-3 mb-3") Habitaciones:
                            span(class="font-normal text-black block")=propiedad.habitaciones

                        p(class="text-gray-600 font-bold text-xl mt-3 mb-3") Estacionamientos:
                            span(class="font-normal text-black block")=propiedad.estacionamiento

                        p(class="text-gray-600 font-bold text-xl mt-3 mb-3") Precio:
                            span(class="font-normal text-black block")=propiedad.precio.nombre

            div(class="md:w-1/3")
                h3(class="text-center pt-1 mb-2  leading-6 text-2xl font-bold text-gray-900") Ubicación
                div(class="h-96", id="mapa")
                    p(id="lat", class="hidden")=propiedad.lat
                    p(id="lng", class="hidden")=propiedad.lng
                div(class="p-5")
                    p(class="text-gray-600 font-bold") Dirección:
                        span(id="calle", class="font-normal text-black text-xl block")=propiedad.calle
                div
                    if iniciarSesion
                        div(class="flex justify-center items-center")
                            a(href="/auth/login", class="bg-green-600 hover:bg-green-700 text-white uppercase font-bold text-white px-3 py-2 rounded-md") Inicia Sesion Para Contactarte
                    else
                        if mostrarForm
                            h3(class="text-center py-5 leading-6 text-2xl font-bold text-gray-900") Comunícate para más información
                            div(class="bg-white px-4 py-1 shadow rounded-md")
                                form(class="", method="POST",  action="/msg/send")
                                    input(name="_csrf", id="_csrf", type="hidden", value=csrf)
                                    input(name="usuario_envia", id="usuario_enviar", value=usuario.id, type="hidden")
                                    input(name="propiedad_id", id="propiedad_id", value=propiedad.id, type="hidden")
                                    div(class="mb-3")
                                        label(class="block text-sm text-left uppercase text-gray-500 mb-2 font-bold", for="asunto") Asunto:
                                        textarea(class="w-full border border-gray-400 py-1 px-3 rounded-md text-sm", name="mensaje", id="mensaje", placeholder="Ingresa el mensaje", rows="5", cols="20")

                                    input(type="submit", value="Enviar", class="bg-green-600 hover:bg-green-700 text-center text-white uppercase block px-3 py-1 text-sm rounded w-full font-bold mb-4")

                                    if msg
                                        div(class="bg-indigo-600 hover:bg-indigo-700 text-white uppercase font-bold text-center rounded text-sm py-1 px-3") ¡MENSAJE ENVIADO!
                                    else if msg_error
                                        div(class="bg-red-600 hover:bg-red-700 text-white uppercase font-bold text-center rounded text-sm py-1 px-3") ¡MENSAJE NO ENVIADO!
                        else
                            img(src="/img/img_renta.png", alt="img_renta", class="")



block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/mostrarMapa.js")